.u_rmc_controls_btn div.naver_player_reload_btn {
    color: #fff;
    float: left;
    font-family: se-nanumsquare,"나눔고딕",nanumgothic,Apple SD Gothic Neo,"맑은 고딕",Malgun Gothic,"돋움",dotum,sans-serif;
    height: 16px;
    line-height: normal;
    cursor:pointer;
    margin-left:10px;
    margin-top:1px;
}

.u_rmc_controls_btn div.naver_player_reload_btn:hover {
    color: #00e686;
}

.u_rmcplayer .u_rmcplayer_error_layer div.naver_player_reload_error_btn {
    border-radius: 5px;
    border: 1px solid #666;
    background: #333;
    padding: 10px;
    text-shadow: 0 0 2px rgb(0 0 0 / 10%);
    color: #fff;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.5px;
    max-width: 350px;
    font-weight: 400;
    margin: 20px auto 0 auto;
    cursor: pointer;
    font-family: se-nanumsquare,"나눔고딕",nanumgothic,Apple SD Gothic Neo,"맑은 고딕",Malgun Gothic,"돋움",dotum,sans-serif;
    box-shadow: 0 0 8px #666;
}
.u_rmcplayer .u_rmcplayer_error_layer div.naver_player_reload_error_btn:hover {
    background: #252525;
}
.u_rmcplayer .u_rmcplayer_error_layer div.naver_player_reload_error_btn:hover {
    background: #252525;
}
.u_rmcplayer .u_rmcplayer_error_layer .u_rmc_error_txt.reloaded div.naver_player_reload_error_btn:hover {
    background: #333;
}
.u_rmcplayer .u_rmcplayer_error_layer .u_rmc_error_txt.reloaded{
    filter: blur(3px);
    opacity: 0.8;
}
.u_rmcplayer .u_rmcplayer_error_layer .u_rmc_error_txt.reloaded div.naver_player_reload_error_btn {
    cursor: default;
}

.u_rmc_share {
    display: none;
}

.u_rmcplayer .u_rmcplayer_video_info .u_rmcplayer_shadow{
    min-height: 50px !important;
    background-image: linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,.5)) !important;
}
.u_rmcplayer .u_rmcplayer_control_bg{
    height: 50px !important;
    min-height: 50px !important;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.5)) !important;
}





@keyframes glow {
    to {
        color: #0aeb7f;
        text-shadow: 0 0 9px white, 0 0 10px #0aeb7f;
    }
}
.BANJJAK{
    animation: glow 0.3s 2 alternate;
}



.u_rmcplayer .onlyspin {
    transform: scale(2);
}
.u_rmcplayer .onlyspin::after {
    animation: rmc_spinner 1s infinite ease;
    content: ' ';
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    top: 0;
    margin: auto;
    padding: 0;
    border-radius: 8px;
    z-index: -1;
    filter: invert(1);
    line-height: normal;
    font-size: 8px;
    word-break: normal;
    user-select: none;
    pointer-events: none;
}