
:root{
    --NCCL-font-color:#FFF;
    --NCCL-background-color:#202020;
    --NCCL-border-color:#383838;

    
    --NCCL-font-color-lighter:#AAA;
    --NCCL-background-color-lighter:#303030;
    --NCCL-border-color-lighter:#383838;
    
    --NCCL-font-color-lightest:#AAA;
    --NCCL-background-color-lightest:#404040;
    --NCCL-border-color-lightest:#484848;
}

*::-webkit-scrollbar { background: #505050 !important; }
*::-webkit-scrollbar-thumb { background: #353535 !important; }

#powerAd-div, #cafe_sdk {display:none}

h1,h2,h3,h4,h5,h6
,.skin-1080 .ia-info-data .gm-tcol-c .id .ellipsis
,.skin-1080 #ia-info-data-emblem .txt
,.skin-1080 .com .box-w .group-list .tcol-c
,.skin-1080 .com .pocket_nav
,.skin-1080 .com .pocket_nav .filter-50
,.skin-1080 .com .box-w .group-mlist .tcol-c
,.skin-1080 #cafe-secede
,.skin-1080 .ia-info-data
,.skin-1080 .ia-info-data2
,.skin-1080 .ia-info-data3
,.skin-1080 .ia-info-data3 li
,.skin-1080 .SpecialMenu .menu_list .link_special
,.skin-1080 .article-album .album-box .tit .ellipsis
,.skin-1080 .board-notice.type_event .article, .skin-1080 .board-notice.type_up .article
,.skin-1080 .article-board .pers_nick_area .p-nick a
,.skin-1080 .article-board .td_date
,.skin-1080 .article-board .td_view
,.skin-1080 .article-album-sub .tit .ellipsis
,.skin-1080 .RelatedArticles .member_area
,.skin-1080 .ArticlePaginate .btn.number
,.skin-1080 .PopularArticles .PopularCafeList .popular_list .post_box .title
,.skin-1080 .RelatedArticles .date_area
,.skin-1080 .article-board .td_likes
,.skin-1080 .article-board .article
,.skin-1080 .select_component .date_enter .tit
,.skin-1080 .article-movie-sub .con
,.skin-1080 .article-movie-sub .tit_area .tit strong
,.skin-1080 #main-area .m-tcol-c
,.skin-1080 #special-menu .special-menu .link_special
,.skin-1080 #neighbor-cafe .comment
,.skin-1080 #neighbor-cafe .bca
,.skin-1080 #widget_company_info
,.skin-1080 #widget_company_info .tit_company
,.skin-1080 #widget_company_info .list_company .tit
,.skin-1080 #widget_company_info .list_company li
,.skin-1080 .article-album .album-box li .price
,.skin-1080 .SaleInfo .CommercialDetail .list_detail .btn_text
,.skin-1080 .ModalLayer
,.skin-1080 .ModalLayer .layer_commerce_safety_guide .deal_thead
,.skin-1080 .ModalLayer .layer_commerce_safety_guide .deal_td
,.skin-1080 .ModalLayer .layer_commerce_safety_guide .deal_list
,.skin-1080 .ModalLayer .layer_commerce_safety_guide .safety_deal_text
,.skin-1080 .SaleInfo
,.skin-1080 .SaleInfo .CommercialDetail .list_title
,.skin-1080 .SaleInfo .ProductCategory
,.skin-1080 .CafeViewer .se-viewer .se-section-oglink.se-section.se-l-large_image .se-oglink-info
,.skin-1080 .CafeViewer .se-viewer .se-module-oglink .se-oglink-title
,.skin-1080 .CafeViewer .se-viewer .se-video .se-media-meta
,.skin-1080 .se-viewer .se-video .se-media-meta-info, .se-viewer .se-video .se-media-meta-info-title
,.skin-1080 .CafeViewer .se-viewer .se-video .se-media-meta-info-wrap:not(.se-is-activated) .se-media-meta-info-description
,.skin-1080 .ArticleTagList .item
,.skin-1080 .ArticleTagList .item a
,.skin-1080 .pop_container
,.skin-1080 .CommentWriter .comment_inbox_text
,.skin-1080 .gnb_my_lyr
,.skin-1080 .gnb_my_li .gnb_my_content
,.skin-1080 #gnb a,.skin-1080 #gnb a:visited,.skin-1080 #gnb a:active,.skin-1080 #gnb a:focus
,.skin-1080 .gnb_my_li .gnb_my_content .gnb_pay_check a,.skin-1080  .gnb_my_li .gnb_my_content .gnb_pay_check span,.skin-1080  .gnb_my_li .gnb_my_content .gnb_pay_check strong
,.skin-1080 .gnb_bdr
,.skin-1080 .gnb_txt
,.skin-1080 .cc_layer_mynews .cc_mynews_list .info_top .box
,.skin-1080 .cc_layer_mynews .cc_mynews_list .info_title
,.skin-1080 .cc_layer_mynews .cc_mynews_list .cc_mynews_info
,.skin-1080 .cc_layer_mynews .cc_mynews_list .info_txt
,.skin-1080 .cafe_list .sort li.on a
,.skin-1080 .cafe_list .sort li a
,.skin-1080 .cafe_list .lst_mycafe li .cafe_name h5 a
,.skin-1080 .LowLevelAccessGuide .tit_level
,.skin-1080 .LowLevelAccessGuide .txt_level
,.skin-1080 .LowLevelAccessGuide .list_explanation .explanation
,.skin-1080 .LowLevelAccessGuide .list_explanation li
,.skin-1080 .LowLevelAccessGuide .list_level .desc


,.skin-1080 .article-board [class^="ArticleListThead_wrap__"] [class^="ArticleListThead_btnSort__"]
,.skin-1080 .article-board .td_normal
,.skin-1080 .BaseButton--skinGreen
{
    color:var(--NCCL-font-color) !important;
}

.skin-1080 .ia-info-data .gm-tcol-c
,.skin-1080 .ia-info-data3 em
,.skin-1080 .ia-info-data2 .mem-cnt-info .link_invite
,.skin-1080 #member-action-data
,.skin-1080 .info-action-tab .gm-tcol-t
,.skin-1080 #member-action-data .prfl_info
,.skin-1080 #member-action-data .grade
,.skin-1080 #member-action-data .grade .txt
,.skin-1080 #linked-member #lm-list .tcol-c
,.skin-1080 .m-tcol-c
,.skin-1080 #naver-gnb #gnb-menu .naver-h,.skin-1080 #naver-gnb #gnb-menu .m-cafe,.skin-1080 #naver-gnb #gnb-menu .join-cafe,.skin-1080 #naver-gnb #gnb-menu .chatting-cafe,.skin-1080 #naver-gnb #gnb-menu #gnb,.skin-1080 #naver-gnb #gnb-menu .gnb_name
,.skin-1080 .Gnb .gnb_menu .gnb_link
,.Gnb .GnbNaver #gnb a.gnb_my .gnb_name
,.WritingHeader .tool_area .temp_save_area .btn_temp_save
,.WritingHeader .tool_area .temp_save_area .btn_temp_count
,.skin-1080 .board-notice.type_event .cmt, .skin-1080 .board-notice.type_up .cmt
,.skin-1080 .article-board .board-list .head
,.skin-1080 .WriterInfo .profile_info .nick_level
,.skin-1080 .CommentBox .comment_option .comment_tab .comment_tab_item .comment_tab_button[aria-selected=true]
,.skin-1080 .RelatedArticlesTabContainer__tab button[aria-pressed=true]
,.skin-1080 .RelatedArticlesTabContainer__tab button
,.skin-1080 .footer
,.skin-1080 .footer .cafe_name
,#theaterModeBtn
,#darkModeBtn
,#button_town_cafe
,.skin-1080 .prev-next a
,.skin-1080 .select_component .select_list li a
,.skin-1080 .select_component2 .select_list li a
,.skin-1080 .article-movie-sub .txt
,.skin-1080 .article-movie-sub .user_info .m-tcol-c
,.skin-1080 .check_box label
,.skin-1080 .input_component input::placeholder
,.skin-1080 .alarm_switch .alarm_txt
,.skin-1080 .SaleInfo .BottomNotice
,.skin-1080 .SaleInfo .BottomNotice .text_title
,.skin-1080 .SaleInfo .BottomNotice .text_info
,.skin-1080 .CafeViewer .se-viewer .se-module-oglink .se-oglink-summary
,.skin-1080 .CafeViewer .se-viewer .se-video .se-media-meta-info-tag
,.skin-1080 .list-style .total
,.skin-1080 .cc_layer_mynews .cc_mynews_list .info_bottom
,.skin-1080 .cafe_list .lst_mycafe li .cafe_name .second
,.skin-1080 .cafe_list .lst_mycafe li .cafe_name .second
,.skin-1080 .list_sub_tab .link
,.skin-1080 .LowLevelAccessGuide .txt_level .level

,.skin-1080 [class^="Sidebar_aside_info__"] [class^="Sidebar_info_area__"] [class^="Sidebar_link__"]
,.skin-1080 [class^="Sidebar_tab_menu__"] [class^="Sidebar_item__"] [class^="Sidebar_btn_tab__"]
,.skin-1080 [class^="Layout_footer___"] [class^="Layout_cafe_name__"]
,.skin-1080 [class^="Layout_footer___"] [class^="Layout_cafe_link__"]
,.skin-1080 .FormInputCheck .label
,.skin-1080 [class^="ToggleSwitchLayout_wrap__"]
,.skin-1080 .Pagination .btn.number
,.skin-1080 .SearchBoxLayout .FormSelectBox.period .select_option li button
,.skin-1080 .SearchBoxLayout .FormSelectBox.period .option_box .text
{
    color:var(--NCCL-font-color-lighter) !important;
}

/* space */
.Gnb .gnb_menu .gnb_item:after
,#naver-gnb #gnb-menu .tcol-c
,.footer .cafe_link:before
,.RelatedArticlesTabContainer__tab button[aria-pressed=true]:after
,.skin-1080 .prev-next .pgR:before
,.skin-1080 .cafe-search.aside_search
,.skin-1080 .LayoutSearch
{
    background-color:var(--NCCL-border-color) !important;
}

.skin-1080 .CommentBox
,.skin-1080 .ArticleContentBox
,.skin-1080 .ArticleContentBox .article_header
,.skin-1080 .CommentBox .comment_list .CommentItem
,.skin-1080 .RelatedArticles .list_item
,.skin-1080 .RelatedArticles .list_item:first-child
,.skin-1080 .RelatedArticlesTabContainer__tab button[aria-pressed=true]
,.skin-1080 .RelatedArticlesTabContainer__tab .tab_menu
,.skin-1080 .PopularArticles .PopularCafeList .popular_list .list_item
,.skin-1080 .select_component2 .select_list
,.skin-1080 .select_component .select_list
,.skin-1080 .article-movie-sub li
,.skin-1080 .area_info_box
,.skin-1080#main-area .list-tit
,.skin-1080 .list-style .check_box ~ .sort_form
,.skin-1080 .list-style .sort_form
,.skin-1080 .com .box-w .group-mlist
,.skin-1080 .info-action-tab .tit-bookmark
,.skin-1080 .list_sub_tab
,.skin-1080 .SaleInfo .CommercialDetail .section
,.skin-1080 .PurchaseButton.PurchaseButton--bottom
,.skin-1080 .ModalLayer .layer_commerce_safety_guide .deal_table
,.skin-1080 .gnb_my_lyr
,.skin-1080 .cafe_list .lst_mycafe
,.skin-1080 .cafe_list_control
,.skin-1080 .article-board tbody td
,.skin-1080 .search_result .learn_more.is_selected + .search_input
{
    border-color:var(--NCCL-border-color);
}


.skin-1080 .list_sub_tab .on .link
{
    border-color:var(--NCCL-border-color-lightest);
}

/* normal */
html
, iframe
,.skin-1080
,.skin-1080 .layout_content
,.skin-1080 #linked-member #lm-list
,.skin-1080 .gate-list.border-sub
,.skin-1080 .article-board thead th
,.skin-1080 .article-board tbody td
,.skin-1080 .search_result .search_input
,.skin-1080 .prev-next
,.skin-1080 .prev-next a
,.skin-1080 .list-search
,.NCCL_container .NCCL_description
,.NCCL_container .NCCL_description .NCCL_title

,.skin-1080 .ArticleBoard thead th
,.skin-1080 .ArticleBoard tbody td
,.skin-1080 .ArticleBoardWriterInfo .nickname
,.skin-1080 .paginate_area
,.skin-1080 .paginate_area .btn.type_next
,.skin-1080 .paginate_area .btn.type_end
,.skin-1080 .TabButton .tab_btn:not([aria-selected="true"])
,.skin-1080 #cafe_content
,.skin-1080 .SearchBoxLayout
,.skin-1080 .Pagination
,.skin-1080 .Pagination .btn.type_next
{
    color:var(--NCCL-font-color);
    background-color:var(--NCCL-background-color);
    border-color:var(--NCCL-border-color);
}

.skin-1080 .search_result .search_input
,.skin-1080 [class^="Sidebar_aside_info__"] [class^="Sidebar_aside_info_tab__"]
{
    border:1px solid var(--NCCL-border-color);
}

/* lighter */
.skin-1080 #cafe-info-action
,.skin-1080 .info-action-tab .tit-bookmark .btn-bookmark-off
,.skin-1080 #cafe-menu
,.skin-1080 #cafe-menu div.cafe-menu-space
,.skin-1080 .box-g-m
,.skin-1080 #cafe-menu .cafe-menu-tit
,.skin-1080 #cafe-menu .cafe-menu-tit .gm-tcol-t
,.skin-1080 #cafe-menu .cafe-menu-list
,.skin-1080 #cafe-menu .cafe-menu-list li
,.skin-1080 #cafe-menu .cafe-menu-list li a
,.skin-1080 #cafe-menu .cafe-menu-list h1
,.skin-1080 #cafe-menu .cafe-menu-list h2
,.skin-1080 #cafe-menu .cafe-menu-list h3
,.skin-1080 #cafe-menu .cafe-menu-list h4
,.skin-1080 #cafe-menu .cafe-menu-list h5
,.skin-1080 #cafe-menu .cafe-menu-list h6
,.skin-1080 .com .box-w
,.skin-1080 .box_notice
,.skin-1080 #special-menu
,.skin-1080 .SpecialMenu
,.skin-1080 .SpecialMenu .menu_list
,.skin-1080 .cafe-search .inp
,.skin-1080 .area_info_box
,.skin-1080 #ia-info-data-emblem
,.skin-1080 .ia-info-data2
,.skin-1080 .info-action-tab
,.skin-1080 .CommentWriter
,.skin-1080 .ArticlePaginate .btn.number[aria-pressed=true]
,.skin-1080 .RelatedArticles .list_item.selected
,.skin-1080 .select_component
,.skin-1080 .select_component .select_box
,.skin-1080 .select_component .select_list li
,.skin-1080 .select_component2
,.skin-1080 .select_component2 .select_box
,.skin-1080 .select_component2 .select_list li
,.skin-1080 .input_component
,.skin-1080 .input_component input
,.skin-1080 .select_component .date_enter
,.skin-1080 .select_component .date_enter input
,.skin-1080 .btn_type1.post_write
,.skin-1080 #widget-count
,.alarm_switch .layer_alarm
,.skin-1080 #widget-currency
,.skin-1080 #widget-currency .bg-body tr:nth-child(even) th, .skin-1080 #widget-currency .bg-body tr:nth-child(even) td
,.skin-1080 #widget-currency .bg-head
,.skin-1080 .com .box-ww.white_box
,.skin-1080 .com .box-ww
,.skin-1080 .PurchaseButton .purchase_chat .btn_purchase
,.skin-1080 .PurchaseButton .purchase_chat .btn_commerce_status.type_chat
,.skin-1080 .PurchaseButton .purchase_chat .btn_commerce_status.type_pay
,.skin-1080 .FormNoticeContent
,.skin-1080 .SaleInfo .CommercialDetail .list_detail .btn_commerce
,.skin-1080 .ModalLayer .layer_wrap
,.skin-1080 .ModalLayer .layer_commerce_safety_guide .deal_thead
,.skin-1080 .ModalLayer .layer_commerce_safety_guide .deal_td
,.skin-1080 .ModalLayer .layer_commerce_safety_guide .deal_list
,.skin-1080 .ModalLayer .layer_commerce_safety_guide .safety_deal_text
,.skin-1080 .CafeViewer .se-viewer .se-section-oglink.se-section.se-l-large_image .se-oglink-info
,.skin-1080 .CafeViewer .se-viewer .se-video .se-media-meta
,.skin-1080 .se-viewer .se-module-oglink
,.skin-1080 .ArticleTagList .item
,.skin-1080 .CommentBox .comment_list .CommentItem--mine
,.skin-1080 .CommentBox .comment_list .CommentItem.CommentItem--mine::before
,.skin-1080 .gnb_my_li .gnb_my_content
,.skin-1080 .gnb_my_lyr_iframe
,.skin-1080 .select_component .select_list
,.skin-1080 .cc_layer_mynews .cc_mynews_header
,.skin-1080 .cc_layer_mynews .cc_mynews_list li
,.skin-1080 .cc_layer_mynews
,.skin-1080 #naver-gnb #join-cafe-iframe
,.skin-1080 .cafe_list .lst_mycafe li
,.skin-1080 .cafe_list .lst_mycafe li
,.skin-1080 .cafe_list .sort_area
,.skin-1080 .cafe_list_control
,.skin-1080 .LowLevelAccessGuide .guide_box
,.skin-1080 .select_component2 .select_list
,.skin-1080 [class^="Sidebar_aside_menu__"]
,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_aside_menu_group__"]
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_btn_tab__"]
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_item__"]
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_aside_info_cafe_profile__"]
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_aside_info_cafe_data__"]
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_link__"]
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_emblem__"]
,.skin-1080 [class^="Layout_aside__"] div[class^="Sidebar_profile_box__"] div[class^="Sidebar_manager__"] a[class^="Sidebar_nickname__"]


,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_aside_menu_list__"]
,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_aside_menu_list__"] li
,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_aside_menu_list__"] li a
,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_aside_menu_list__"] h1
,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_aside_menu_list__"] h2
,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_aside_menu_list__"] h3
,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_aside_menu_list__"] h4
,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_aside_menu_list__"] h5
,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_aside_menu_list__"] h6
,.skin-1080 [class^="Sidebar_aside_menu__"] [class^="Sidebar_group_name__"]
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_widget_secede__"]
,.skin-1080 .LayoutSearch
,.skin-1080 .LayoutSearch .search_box
,.skin-1080 .search_box input
,.skin-1080 .FormSelectButton .button.type_skin
,.skin-1080 .FormSelectButton .button.type_skin:hover
,.skin-1080 .SearchBoxLayout .FormSelectBox.period .option_box
,.skin-1080 .SearchBoxLayout .FormSelectBox.period .select_option
,.skin-1080 .SearchBoxLayout .FormSelectBox.period .select_option li
,.skin-1080 .SearchBoxLayout .FormSelectBox.period .option_box .calendar_option .input_text
,.skin-1080 .SearchBoxLayout .FormSelectBox.period .option_box .calendar_option .BaseButton--skinGray
,.skin-1080 .SearchBoxLayout.type_bottom .search_input_area .input_text
{
    color:var(--NCCL-font-color);
    background-color:var(--NCCL-background-color-lighter);
    border-color:var(--NCCL-border-color);
}

.skin-1080 #neighbor-cafe .comm-btn-top a
,.skin-1080 .ModalLayer .layer_seller_contact .contact_box
,.skin-1080 #gnb .gnb_my_li .gnb_my_community a,.skin-1080  .gnb_notice_li .gnb_notice_all,.skin-1080  a.gnb_service_all, .gnb_svc_more .svc_btns
,.skin-1080 #naver-gnb #gnb-menu .gnb_txt
,.skin-1080 .LowLevelAccessGuide .cafe_level_info
,.skin-1080 #GM_setting #GM_setting_content.useTabs #GM_tabs #GM_tabs_item_container .GM_tab_item.on

,.skin-1080 .search_box .btn
,.skin-1080 .FormSelectBox .select_option .option:hover
{
    color:var(--NCCL-font-color);
    background-color:var(--NCCL-background-color-lightest) !important;
    border-color:var(--NCCL-border-color) !important;
}


.skin-1080 #nomo_settings
,.skin-1080 #nomo_settings li
,.skin-1080 #GM_setting_footer
{
    color:var(--NCCL-font-color);
    background-color:var(--NCCL-background-color) !important;
    border-color:var(--NCCL-border-color);
}

.skin-1080 #nomo_settings #GM_setting .GM_setting_list_sub
,.skin-1080 #nomo_settings #GM_setting .GM_setting_title
,.skin-1080 #nomo_settings #GM_setting .GM_setting_desc
,.skin-1080 #GM_setting #GM_setting_content.useTabs #GM_tabs #GM_tabs_item_container .GM_tab_item:hover
{
    color:var(--NCCL-font-color);
    background-color:var(--NCCL-background-color-lightest) !important;
    border-color:var(--NCCL-border-color) !important;
}

.skin-1080 #nomo_settings #GM_setting #GM_setting_content.useTabs #GM_tabs
,.skin-1080 #nomo_settings #GM_setting ul
,.skin-1080 #GM_setting #GM_setting_content.useTabs #GM_tabs #GM_tabs_item_container:first-child
{
    border-color:var(--NCCL-border-color) !important;
}

.skin-1080 #nomo_settings #GM_setting .GM_setting_under_dev .GM_setting_title{
    color:#c9adff;
}

.skin-1080 #nomo_settings #GM_setting input
,.skin-1080 #nomo_settings #GM_setting .btn-default
,.skin-1080 #nomo_settings #GM_setting .btn-primary
,.skin-1080 #nomo_settings #GM_setting .form-control
{
    color:var(--NCCL-font-color);
    background-color:var(--NCCL-background-color-lighter);
    border-color:var(--NCCL-border-color);
}


.skin-1080 .CommentCleanBot.cleanbot
{
    background-color:var(--NCCL-background-color);
    border-color:var(--NCCL-border-color) !important;
    border: 1px solid;
}

.skin-1080 .CommentCleanBot.cleanbot .msg
{
    color:var(--NCCL-font-color-lighter) !important;
}


.skin-1080 #nomo_settings a
,.skin-1080 #nomo_settings a:hover
,.skin-1080 #nomo_settings a:focus{
    color:var(--NCCL-font-color-lighter) !important;
}
#GM_setting .GM_setting_under_dev .GM_setting_title{
    color:#c9adff;
}
.skin-1080 #GM_setting .GM_setting_item_disable
,.skin-1080 #GM_setting .GM_setting_item_disable .GM_setting_title
,.skin-1080 #GM_setting .GM_setting_item_disable .GM_setting_desc
{
    color:#747474 !important;
}

/* lightest */
.skin-1080 .cafe-write-btn a
,.skin-1080 .ia-info-btn .link_chat
,.skin-1080 .box_notice .link_more
,.WritingHeader .tool_area .temp_save_area .btn_temp_save
,.WritingHeader .tool_area .temp_save_area .btn_temp_count
,.WriterInfo .profile_info .link_talk
,.BaseButton.size_default:first-child
,.BaseButton.size_default
,.skin-1080 .board-notice.type_event .board-tag-txt, .skin-1080 .board-notice.type_up .board-tag-txt
,.skin-1080 .prev-next a.on
,.skin-1080 .select_component2 .select_list li a:hover
,.skin-1080 .select_component .select_list li a:hover
,.skin-1080 .select_component .date_enter .btn_set
,.skin-1080 #widget_company_info .link_company
,.skin-1080 .cafe-search .btn
,.skin-1080 #cafe-menu #favoriteMenuGroup
,.skin-1080 #cafe-menu #favoriteMenuGroup li
,.skin-1080 #cafe-menu #favoriteMenuGroup li a
,.skin-1080 #cafe-menu .cafe-menu-tit.frst
,.skin-1080 #cafe-menu .cafe-menu-tit.frst h3
,.skin-1080 #cafe-menu .cafe-menu-tit.frst a
,.skin-1080 .input_search_area .btn-search-green

,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_btn_talk__"]
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_btn__"]
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_aside_menu__"] [class*="Sidebar_type_bookmark__"]
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_aside_menu__"] [class*="Sidebar_type_bookmark__"] button
,.skin-1080 [class^="Layout_aside__"] [class^="Sidebar_aside_menu__"] [class*="Sidebar_type_bookmark__"] strong
,.skin-1080 .SearchBoxLayout .Pagination .btn.number[aria-pressed=true]
{
    color:var(--NCCL-font-color);
    background-color:var(--NCCL-background-color-lightest);
    border-color:var(--NCCL-border-color-lightest);
}

/* 공지 */
.skin-1080 .board-notice.type_menu .board-tag-txt
{
    background: #3b3333;
    border-color: #573334;
    color: #eb767c;
}
.skin-1080 .board-notice.type_required .board-tag-txt
,.skin-1080 .board-notice.type_main .board-tag-txt
{
    background: #573334;
    border-color: #6e4748;
    color: #fff;
}

/* 글쓰기 */
.skin-1080 .setting_area, .skin-1080 .setting_area *{
    color:var(--NCCL-font-color-lighter);
    background-color:var(--NCCL-background-color-lighter);
    border-color:var(--NCCL-border-color-lighter);
}

/*emoji*/
.CommentBox .comment_list .CommentItemSticker .comment_sticker_link .image
,.se-viewer .se-sticker-image{
    background-color:var(--NCCL-background-color-lightest);
}

.ArticleTool .button_comment .svg-icon
,.prev-next .pgR:after
,.footer .naver_cafe
,.left_area .BaseButton.size_default:not(.BaseButton--skinGreen) svg.svg-icon
,.right_area .BaseButton.size_default:not(.BaseButton--skinGreen) svg.svg-icon
,.se-viewer .se-video .se-media-meta-toggle-button

,.skin-1080 [class^="Layout_footer___"] [class^="Layout_naver_cafe__"]
{
    filter:invert(1)
}

.toggle_switch .switch_slider
{
    filter:invert(1) brightness(2.5) contrast(0.78);
}

#linked-member .member-reload
,#linked-member .member-up
{
    filter:invert(1) brightness(1.2) contrast(0.7);
}

#naver-gnb #gnb-menu .gnb_service_li .gnb_icon
,.CommentBox .comment_option .comment_tab .comment_refresh_button
,.SubscribeButton .ToggleSwitch.ToggleSwitch--skinGray .switch_slider
{
    filter:invert(1) contrast(0.7) brightness(0.5);
}

.check_box input + label:before
{
    filter:invert(1) contrast(0.3) brightness(0.8);
}

.skin-1080 .article-board [class*="list-i"]
,.skin-1080 #cafe-menu .cafe-menu-list .ico_new
,.skin-1080 #cafe-menu .cafe-menu-tit .ico_new
,.ico_new
,.skin-1080 .board-notice.type_required .cmt, .skin-1080 .board-notice.type_main .cmt
,.skin-1080 .article-board .board-list .cmt
,.skin-1080 #naver-gnb #gnb-menu .chatting-cafe .count
,.skin-1080 .BoardTopOption .sort_area .sort_view button[aria-selected="true"]
{
    filter:grayscale(0.4);
}

.BaseButton--skinGreen
,.skin-1080 #cafe-menu .cafe-menu-tit .ico-bookmark
,.skin-1080 .svg-icon.aside-menu-group-bookmark
,.skin-1080 .SearchBoxLayout .search_input_area .btn_search
{
    filter:grayscale(1.0);
}

.toggle_switch .switch_input:checked + .switch_slider{
    background-color:#AAA;
}
.skin-1080 #cafe-menu .cafe-menu-list{
    margin-top:0px;
    padding-top:6px;
}

.naver-splugin-c svg,
.button_sticker,
.button_file,
.btn_type1.post_write:before
,.skin-1080 .BaseButton .svg-icon.icon-solid-writing
,.skin-1080 .BaseButtonLink .svg-icon.icon-solid-writing
{
    filter:brightness(10);
}

/*
.se-media-meta-info-description::before, .se-media-meta-info-title::before{
    background-color:var(--NCCL-background-color) !important;
}
*/

/* 공지 글 */
.skin-1080 .board-notice.type_menu .article
,.skin-1080 .board-notice.type_required .article
,.skin-1080 .board-notice.type_main .article
{
    color: #eb767d !important;
}
